<% layout('boilerplate') -%>
    
<h1>Shop Smart, Save Big!</h1>


<p>Lookout for something big to come</p>


<p>Signup to start saving</p>
<h3>Start your search here</h3>


<p>Our prices are very reasonable</p>


<h3>Look for Smart items?</h3>
<p>They will appear across the site as you add them to your cart</p>


<h3>Build a smart cart</h3>
<p>The more smart items you buy together, the more you save! :)</p>